/* Dragon CSS file */

/* Form container */
form.form-container
{
 background-color: rgba(0, 0, 0, .6);
 border-radius: 1rem;
 border-left: 5px solid rgba(255, 255, 255, .8);
 border-right: 5px solid rgba(255, 255, 255, .8);
 width: 40%;
 padding: 20px;
 text-align: center;
 display: block;
 margin: 10% auto;
 color: #fff;
}

input.dragon-input-text
{
 background-color: rgb(32, 42, 43);
 border: none;
 border-radius: 5px;
 padding: 20px;
 width: 80%;
 display: block;
 margin: 5px auto;
 color: #fff;
}

select.dragon-input-select
{
 background-color: rgb(47, 86, 90);
 border: none;
 padding: 15px;
 border-radius: 5px;
 width: 20%;
 display: block;
 margin: 5px auto;
 color: #fff;
}

input.dragon-input-text::placeholder
{
 color: #fff;
 font-size: 1rem;
 font-weight: bold;
}

input.dragon-input-button
{
 background-color: rgb(0, 200, 43);
 border: none;
 border-radius: 5px;
 padding: 20px;
 width: 40%;
 display: block;
 margin: 0 auto;
 margin-bottom: 5px;
 color: #fff;
}